.slider{
    position: relative;
    background: none;
    background-color: #fff6f1;
    height: 400px;
    width: 100%;
}

.slider-main {
    position: absolute;
    top: 45%;
    width: 100%;
    display: inline-grid;
    justify-content: center;
}

.slider-title {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 400;
    margin: 20px;
}

.slider-nav {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 1.5rem;
}

.slider-nav-icon {  
    font-size: 1rem;
    margin: 0 10px;
    color: rgb(167,162,160);
}

/* Body */

.products-cart {
    justify-content: center;
    width: 100%;
    margin: 70px 0;
}

.products-header {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    border-bottom: 3px solid var(--main-color);
    background-color: #f2f2f2;
    height: 50px;
    list-style: none;
    padding-left: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.product-delete {
    min-width: 150px;
}

.product-image {
    min-width: 250px;
}

.product-title {
    min-width: 250px;
}

.product-price {
    min-width: 160px;
}

.product-quantity {
    min-width: 250px;
}

.product-total {
    min-width: 220px;
}

/* Render products */
table {
    position: relative;
    width: 100%;
    border: 1px solid #dee2e6;
}

.render-products {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* height: 400px; */
    max-height: 400px;
}

.cart-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 400;
    height: 100%;
}

.buyNow {
    margin-left: 10px; 
    color: var(--main-color);
    text-decoration: none;
}

.buyNow:hover {
    text-decoration: underline;
}

.item-product {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 0;
    list-style: none;
    border: 1px solid #dee2e6;
}

.item-img {   
    min-width: 250px;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

.item-img img {
    width: 100px;
    height: 100px;
    padding: 5px;
}

.delete-icon {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    min-width: 150px;
    font-size: 2rem;
    height: 100%;
    transition: ease-in .2s;
}

.delete-icon:hover {
    cursor: pointer;
    color: var(--main-color);
    transition: ease-in .2s;
}

.item-name {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    border-right: 1px solid #dee2e6;
}

.item-price {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dee2e6;
    min-width: 160px;
    font-size: 1.5rem;
}

.item-quantity {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    border-right: 1px solid #dee2e6;
    font-size: 1.5rem;
}

.item-quantity-icon {
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 50%;
    font-size: 1.3rem;
    padding: 2px;
    margin: 0 5px;
    transition: ease-in .2s;
}

.item-quantity-icon:hover {
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--white-color);
    border: 1px solid var(--main-color);
    transition: ease-in .2s;
}

.item-total {
    min-width: 220px;
    font-size: 1.5rem;
}

/* view cart footer */

.product-footer-coupon {
    border: 1px solid #dee2e6;
    padding-bottom: 30px;
}

.product-footer-coupon-title {
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #333;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 600;
    height: 44px;
    font-size: 1.6rem;
    margin: 0;
}

.product-footer-coupon p {
    font-size: 1.3rem;
    padding-left: 20px;
    color: #777;
    margin-bottom: 25px;
    margin-top: 20px;
}

.product-footer-coupon-code {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.product-footer-coupon-code input {
    height: 40px;
    width: 170px;
    border: 1px solid #dee2e6;
    font-size: 1.3rem;
    padding-left: 15px;
    margin-right: 15px;
}

.product-footer-totals button,
.product-footer-coupon-code button {
    height: 35px;
    width: 130px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1.5rem;
    border: none;
    border-radius: 3px;
    transition: ease-in .2s
}

.product-footer-totals button:hover,
.product-footer-coupon-code button:hover {
    color: var(--main-color);
    background-color: var(--white-color);
    cursor: pointer;
    border: 1px solid var(--main-color);
    transition: ease-in .2s
}

/* product-footer-totals */

.product-footer-totals {
    color: var(--text-color);
}

.product-footer-totals button {
    margin-left: 62%;
    margin-top: 30px;
    width: 220px;
}

.product-footer-total,
.product-footer-shipping,
.product-footer-subtotal {  
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.5rem;
    margin-top: 20px;
}

.product-footer-total h3,
.product-footer-shipping h3,
.product-footer-subtotal h3 {
    font-weight: 400;
    margin: 0;
}

.product-footer-total p,
.product-footer-shipping p,
.product-footer-subtotal p {
    font-size: 1.8rem;
    margin: 0;
}

.product-footer-shipping {
    margin-top: 30px;
}

.product-footer-calculate {
    display: block;
    text-align: right;
    padding-right: 20px;
    margin-top: 30px;
    font-size: 1.5rem;
    border-bottom: 1px solid #dee2e6;
    font-weight: 300;
    padding-bottom: 15px;
}

.product-footer-total {
    margin-top: 30px;
}
